.ancho{
    width: 80%;
}

.mt-4{
    background-color: mediumslateblue;
}

.mx-4{
    color: white;
    background-color: blue;
}

.mat-toolbar{
    background-color: orangered;
}

.container{
    background-color: violet;
}
.est{
    text-align: center;
}